{% comment %}
  Author Profile Include
  Place this in _includes/author-profile.html
  Displays: avatar, name, position, bio, expertise, and links
{% endcomment %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="author-profile">

  <!-- Avatar -->
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>

  <!-- Name, Position, Bio, Expertise -->
  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>

    {% if author.position %}
      <p class="author__position">{{ author.position }}</p>
    {% endif %}

    {% if author.bio %}
      <p class="author__bio">{{ author.bio }}</p>
    {% endif %}

    {% if author.expertise %}
      <h4>Expertise</h4>
      <ul class="author__expertise">
        {% for item in author.expertise %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Links / Social URLs -->
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">

      {% if author.location %}
        <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right" aria-hidden="true"></i>Website</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
      {% endif %}

      <!-- Academic links -->
      {% assign academic_links = 
        "academia,arxiv,googlescholar,inspire-hep,impactstory,orcid,semantic,ssrn,pubmed,researchgate,scopus,zotero" | split: "," %}
      {% for link in academic_links %}
        {% if author[link] %}
          <li><a href="{{ author[link] }}">{{ link | capitalize }}</a></li>
        {% endif %}
      {% endfor %}

      <!-- Developer / repository links -->
      {% assign dev_links = "bitbucket,codepen,dribbble,github,kaggle,stackoverflow" | split: "," %}
      {% for link in dev_links %}
        {% if author[link] %}
          <li><a href="https://{{ link }}.com/{{ author[link] }}">{{ link | capitalize }}</a></li>
        {% endif %}
      {% endfor %}

      <!-- Social links -->
      {% assign social_links = "linkedin,facebook,twitter,instagram,medium,youtube" | split: "," %}
      {% for link in social_links %}
        {% if author[link] %}
          <li><a href="https://{{ link }}.com/{{ author[link] }}">{{ link | capitalize }}</a></li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>

</div>
